body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 5%;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #98ef83;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #71ee5b;
    color:white;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.deleteSemesterBtn
{
    background-color: #ff9789;
    width:50%;
    margin-left: 25%;
    margin-top:0;
    margin-bottom:20px;
}

.deleteSemesterBtn:hover
{
    background-color: #e96b5a;
}

.semesterCredits
{
    margin-top: 5px;
    margin-bottom: 5px;
}

#calculateBtn
{
    background-color: #58d2eb;
}

#calculateBtn:hover
{
    background-color: #41c2dc;
}

#addSemesterBtn
{
    width:50%;
    margin-left: 25%;
}
